fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
python-multipart
supabase
langchain
langchain-community
langchain-openai
langgraph
langchain-text-splitters
youtube-transcript-api==0.6.2
yt-dlp
httpx
pymupdf
pytest
