fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
python-multipart
supabase
langchain
langchain-community
youtube-transcript-api==0.6.2
langchain-openai
langgraph
sentence-transformers
openai
pymupdf
yt-dlp
faster-whisper
pytest
httpx
numpy
torch
pytesseract
Pillow
langchain-text-splitters
